@import url('https://fonts.googleapis.com/css?family=Francois+One');
body {
  background-color: black;
  background: url("../images/background3.gif");
  margin-top: auto;
  background-size: cover;
  background-repeat: repeat;
  background-image: radial-gradient();
}

h1 {
  padding-top: 5px;
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  padding-bottom: 5px;
}

h2 {
  padding-top: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'Francois One', sans-serif;

}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}
th{


}


.formating{
border-radius: 10px;
margin-left: 10px;
}
.formatingEnemies{
border-radius: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#masterhead {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  height: auto;
  min-height: 176px;
  background: url("../images/star-wars-logo.jpg");
  background-size: cover;
}

#selectCharacter {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 780px;
  height: 240px;
}

#enemiesToAttack{
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 160px;
  height: auto;
  float: left;
}

#centerSection{
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 780px;
  height: auto;
  float: left;
}


#fightSection{
  border: 1px;
  border-radius: 10px;
  width: 780px;
  height: 400px;
  float: left;
  background: url("../images/players.jpg");
  background-size: cover;
}

#panelSection{

  border-radius: 10px;
  width: 780px;
  height: 200px;
  float: left;
  background: url("../images/controlPanel.jpg");
  background-size: cover;
}










#enemiesDefeated{
    border: 5px;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    margin-right:50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: auto;
    float: right;
}
