@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
  background-color: black;
  background: url("../images/background3.gif");
  margin-top: auto;
  background-size: cover;
  background-repeat: repeat;
  background-image: radial-gradient();
}

h1 {
  padding-top: 12px;
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

}


h2 {
  padding-top: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 7px black;

}

h3 {
  padding-top: 5px;
  color: yellow;
  text-shadow: 2px 2px 7px black;
  font-size: 15px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

h4 {
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

p {
  margin:5px;
  color: white;
  font-size: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

}

table {

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}
th{
  padding-bottom: 3px;
}

/* center formating images */
.formating{
border-radius: 10px;
margin-left: 10px;
margin-right: 10px
}
.formatingEnemies{
border-radius: 10px;
}

/* formating buttons */
.attackButton{
  float: left;
  margin-top: 12%;
  margin-left: 15px;
  width: 100;
  height: 30;
}
.restartButton{
  float: right;
  margin-top: 12%;
  margin-right: 15px;
  width: 100;
  height: 30;
}
/* buttons*/
.button {

  text-align: center;
  cursor: pointer;
  outline: none;
  /*background-color: #0a2446;*/
  background-color: #460505;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #7a7b7e;
}

.button:hover {
/*background-color: #0d315f;*/
background-color: darkred;
box-shadow: 0 4.5px #b0afb4;
}

.button:active {
  /*background-color: #479ad1;*/
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

/* attack messages */

.attackResultsYou{
  float: left;
  margin-top: 2%;
  margin-left: 15px;
  width: 100;
  height: 30;
}
.attackResultsEnemie{
  float: right;
  margin-top: 2%;
  margin-right: 15px;
  width: 100;
  height: 30;
}

.characterLeft{
  float: left;
  margin-top: 6%;
  margin-left: 80px;
  width: 100;
  height: 30;
}
.characterRight{
  float: right;
  margin-top: 6%;
  margin-right: 80px;
  width: 100;
  height: 30;
}



#masterhead {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  height: auto;
  min-height: 176px;
  background: url("../images/star-wars-logo.jpg");
  background-size: cover;
}

#selectCharacter {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 660px;
  height: 225px;
}
/* center Attack section */
#enemiesToAttack{
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 160px;
  height: auto;
  float: left;
}

/* center Section */
#centerSection{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 780px;
  height: auto;
  float: left;
}
#fightSection{
  border:5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  width: 780px;
  height: 300px;
  float: left;
  background: url("../images/background2.jpg");
  background-size: cover;
}
#panelSection{
margin-top: 5px;
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  width: 780px;
  height: 167px;
  float: left;
  background: url("../images/controlPanel.jpg");
  background-size: cover;
}

/* center Defeated Section */
#enemiesDefeated{
    border: 5px;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    width: 160px;
    height: auto;
    float: left;
}
